<h1><%= @beer_club.name %>, <%= @beer_club.city %></h1>

<p>
  Founded: <%= @beer_club.founded %>
</p>

<p>
  <% if @beer_club.users.empty? %>
      has no memberships
  <% else %>
    <h2>members</h2>

    <ul>
      <% @beer_club.memberships.is_confirmed.each do |membership| %>
          <li> <%= link_to membership.user.username, user_path(membership.user) %></li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
<h2>Outstanding applicants</h2>

<ul>
  <% @beer_club.memberships.is_applicant.each do |membership| %>
      <li>
        <%= link_to membership.user.username, user_path(membership.user) %>
        <% if @beer_club.is_member? current_user %>
            <%= link_to 'confirm', confirm_member_membership_path(membership), method: :post, class: 'btn btn-success' %>
        <% end %>
      </li>
  <% end %>
</ul>
</p>

<% if current_user and not @beer_club.users.include?(current_user)  %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club", class:'btn btn-primary' %>
    <% end %>
<% end %>

<% if current_user and @beer_club.users.include?(current_user) %>
    <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: "end the membership", class:'btn btn-danger' %>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_beer_club_path(@beer_club), class: 'btn btn-success' if current_user %> |
<%= link_to 'Back', beer_clubs_path %>
